<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<h1 th:text="${message}">Create User</h1>

<ul >
    <li th:if="${errorMessage != null}" th:text="${errorMessage}"></li>
</ul>

<form method="post" th:action="@{${apiBasePath}+'/user/create-confirm'}">
    <label for="message">Message:</label>
    <input type="text" id="message" name="message">
    <button type="submit">Submit</button>
</form>

</body>
</html>